.homePage {
    // banner section start
    .bannerSec {
        padding: 77px 0 130px;
        background-image: url(#{$imageurl}/banner-bg.webp);
        background-size: cover;
        background-position: center bottom;  
        overflow: hidden;
        &_title {
            font-size: calc(26px + (80 - 26) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: 0;
            .gradient {
                background: #0820FE;
                background: -webkit-linear-gradient(left, #0820FE, #5777FE, #3E27FF, #0600AA); /* Chrome, Safari (Old versions) */
                background: -moz-linear-gradient(to right, #0820FE, #5777FE, #3E27FF, #0600AA); /* Firefox */
                background: linear-gradient(to right, #0820FE, #5777FE, #3E27FF, #0600AA);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        &_gridlist {
            display: inline-flex;
            width: 100%;
            justify-content: center;
            &.active{
                &:hover{
                    .bannerSec_imgbox{
                        &:not(.active){
                            filter: blur(5px);
                        }
                    }
                }
            }
        }
        &_imgbox {
            display: inline-flex;
            position: relative;
            width: 230px;
            height: 230px;
            z-index: 0;
            flex-shrink: 0;
            border-radius: 20px;
            overflow: hidden;
            flex-direction: column;
            justify-content: end;
            transition: 0.3s ease-in-out;
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
            &-1 {
                transform: rotate(-11deg);
                top: 110px; left: 210px;
            }
            &-2 {
                transform: rotate(-8deg);
                top: 65px; left: 140px;
            }
            &-3 {
                transform: rotate(-3deg);
                top:75px; right: -85px;
            }
            &-4 {
                transform: rotate(-3deg);
                top:86px;
            }
            &-5 {
                transform: rotate(5deg);
                top: 72px; left: -80px;
            }
            &-6 {
                transform: rotate(8deg);
                top: 100px;right: 150px;
            }
            &-7 {
                transform: rotate(11deg);
                top:100px; right:220px;
            }
            &::before {
                content: '';
                position: absolute; z-index: -1;
                width: 100%; height: 100%; opacity: 0.5;
                background: rgb(0, 0, 0, 0.5);
                background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2049194677871149) 100%);
                background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2049194677871149) 100%);
                background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2049194677871149) 100%);            
            }
            img {
                width: 100%; height: 100%; object-fit: cover;
                position: absolute; top: 0; left: 0; z-index: -2;
            }
            span {
                margin-bottom: 15px;  font-size: 20px; color: color(50);
            }
            &:hover {
                transform: scale(1.2, 1.2); z-index: 9;
            }
        }
        &_cntbox {
            margin: 160px auto 0; max-width: 600px;
            p {
                font-size: 26px; margin-bottom: 40px;
            }
        }
        @media (min-width: 1921px) {
            &_title {
                font-size: 80px;
            }
        }
        @media screen and (max-width: 1599px) {
            padding: 70px 0 100px;
            &_cntbox {
                margin: 150px auto 0;
            }
        }
        @include media-breakpoint-down(xxl){
            padding: 60px 0 80px;
            &_imgbox{
                width: 210px; height: 210px;
                span{font-size: 18px;}
            }
            &_cntbox{
                margin: 140px auto 0;
                p{
                    font-size: 22px;
                    margin-bottom: 30px;
                }
            }
        }
        @include media-breakpoint-down(xl){
            padding: 50px 0 80px;
            &_imgbox{
                width: 195px; height: 195px;
                &-1 {top: 80px;}
                &-2 {top: 40px;}
                &-3 {top:55px;}
                &-4 {top:75px;}
                &-5 {top: 60px;}
                &-6 {top: 80px;}
                &-7 {top:80px; right:215px;}
            }
            &_cntbox{
                margin: 120px auto 0;
                p{
                    font-size: 20px;
                    margin-bottom: 25px;
                }
            }
        }
        @include media-breakpoint-down(lg){
            padding: 30px 0;
            &_imgbox{
                width: 162px; height: 162px;
                span{font-size: 16px;}
            }
            &_cntbox{
                margin: 110px auto 0;
                p{
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
        }
        @include media-breakpoint-down(md){
            &_title{
                margin-bottom: 20px;
            }
            &_gridlist{
                gap: 5px;
                justify-content: start;
                overflow-x: auto;
                padding-bottom: 5px;
                overflow-y: hidden;
            }
            &_imgbox{
                width: 130px; height: 130px;
                border-radius: 10px;
                &:hover{
                    transform: none;
                }
                &-1, &-2, &-3, &-4, &-5, &-6, &-7{
                    top: 0;
                    transform: rotate(0deg);
                }
                &-1, &-2, &-5{left: 0;}
                &-3, &-6, &-7{right: 0;}
                span{margin-bottom: 10px; font-size: 14px;}
            }
            &_cntbox{
                margin: 20px auto 0;
                p{
                    font-size: 16px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    // banner section end
    // business section start
    .businessSec{
        background-color: color(500);
        .commonHead{
            max-width: 622px;
        }
        &_left, &_right{
            position: absolute;
            top: -13%;
            height: calc(100% + 26%);
            img{height: 100%;}
        }
        &_left{
            left: 120px;
            animation: moveArrowleft 4s infinite;
        }
        &_right{
            right: 120px;
            animation: moveArrowRight 4s infinite;
        }
        @media (max-width:1599px) {
        &_left{
            left: 80px;
        }
        &_right{
            right: 80px;
        }
        
        }
        @include media-breakpoint-down(xxl){
        &_left{
            left: 0;
        }
        &_right{
            right: 0;
        }
        }
        @include media-breakpoint-down(xl){
        .commonHead{
            max-width: 500px;
        }
        &_left, &_right{
            display: none;
            }
        }
        @include media-breakpoint-down(lg){
        .commonHead{
            max-width: 600px;
        }        
        }
        @include media-breakpoint-down(md){
        .commonHead{
            max-width: 500px;
        }
        }
    }
    // business section end
    // acquainted section start
    .acquaintedSec{
        padding: 106px 0 80px;
        .commonHead{
            max-width: 774px;
        }
        .solutionCard{
        border-radius: 20px;
        padding: 45px;
        overflow: hidden;
        position: relative;
        &.md{
            min-height: 417px;
        }
        &_title{
            font-size: 36px;
            line-height: 1.1;
            margin-bottom: 15px;
        }
        &_text{
            &.light{
            color: rgba($color: color(50), $alpha: 0.7);
            }
            &.dark{
            color: rgba($color: color(900), $alpha: 0.7);
            }
        }
        &_apis_logo, &_host_cnt{
            margin-top: auto;
        }
        &_apis{ 
            background-image: url(#{$imageurl}/apis.webp);
            &_logo{
            .icon{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid rgba($color: color(50), $alpha: 0.2);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 38px;
                color: color(50);
                transition: all 0.3s ease;
            }
            span{
                display: block;
                margin-top: 12px;
                font-size: 18px;
                line-height: 1.3;
                transition: all 0.3s ease;
                color: rgba($color: color(50), $alpha: 0.9);
            }
            li{
                cursor: pointer;
                &:hover{
                .icon{
                    border-color: rgba($color: color(50), $alpha: 0.6);
                }
                span{color: rgba($color: color(50), $alpha: 0.6);}
                }
            }
            }
        }
        &_whiteLabel{
            background-color: #F6F6F7;
            img{transition: all 0.3s ease-in-out;}
            &_cnt{
            padding: 0 45px 36px;
            position: relative;
            z-index: 1;
            margin-top: -75px;
            }
            &:hover{
            img{
                transform: scale(1.1);
            }
            }
        }
        &_host{
            background-image: url(#{$imageurl}/host-agency.webp);
            &_logo{
            width: 65px;
            height: 65px;
            background-color: color(50);
            border-radius: 10px;
            font-size: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
            em{
                animation: bellSwing 1.5s infinite
            }
            }
        }
        &_merchant{
            background-color: #22201f;
            background-image: url(#{$imageurl}/merchant-of-record.webp);
            &_cnt{
            max-width: 285px;
            }
        }
        &_usBased{
            background-color: #e3e4fd;
            background-image: url(#{$imageurl}/customer-service.webp);
            &_cnt{
            max-width: 360px;
            }
        }
        &_apis, &_host, &_merchant, &_usBased{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .btn{margin-top: 20px;}
        }
        @media (max-width:1599px) {
        padding: 90px 0 60px;
        .solutionCard{
            &_title{
            font-size: 32px;
            }
        }
        
        }
        @include media-breakpoint-down(xxl){
        padding: 80px 0 50px;
        .solutionCard{
            padding: 35px;
            &_whiteLabel{
            &_cnt{padding: 0 35px 35px; margin-top: -65px;}
            }
            &_host_logo, &_apis_logo .icon{
            width: 55px;
            height: 55px;
            font-size: 35px;
            }
            &_apis_logo{
            span{font-size: 16px;}
            }
            &.md{
            min-height: 350px;
            }
            &_title{
            font-size: 28px;
            }
            .btn{margin-top: 15px;}
        }
        }
        @include media-breakpoint-down(xl){
        .commonHead{
            max-width: 600px;
        }
        .solutionCard {
            padding: 25px;
            &_whiteLabel{
            &_cnt{padding: 0 25px 25px; margin-top: -50px;}
            }
            &_host_logo, &_apis_logo .icon{
            width: 50px;
            height: 50px;
            font-size: 30px;
            }
            &_usBased, &_merchant{background-position: left;}
            &_apis_logo{
                span{font-size: 14px;}
            }
            &_title{
                font-size: 24px;
                margin-bottom: 10px;
            }
            &.md{
                min-height: 300px;
            }
        }
        }
        @include media-breakpoint-down(lg){
        padding: 30px 0;
        .solutionCard {
            padding: 20px;
            &_host_cnt{
            margin-top: 40px;
            }
            &_whiteLabel{
            &_cnt{padding: 0 20px 20px;}
            }
            &_usBased, &_merchant{background-position: right; background-size: contain;}
            &_usBased{display: flex; flex-direction: column; justify-content: center;}
            &_merchant{
                &_cnt{
                    max-width: 350px;
                }
            }
            &_host_logo, &_apis_logo .icon{
            width: 45px;
            height: 45px;
            font-size: 25px;
            }
            &_apis_logo{
            span{font-size: 14px;}
            }
            &_title{
            font-size: 20px;
            margin-bottom: 8px;
            }
        }
        }
        @include media-breakpoint-down(md){
        .solutionCard {
            border-radius: 10px;
            &_apis_logo, &_host_cnt{
                margin-top: 25px;
            }
            &_whiteLabel_cnt{
            margin-top: -80px;
            }
            &.md{min-height: 250px;}
            &_merchant_cnt{max-width: 290px;}
            &_host_logo{
            width: 40px;
            height: 40px;
            font-size: 20px;
            }
            &_title{
            font-size: 18px;
            margin-bottom: 5px;
            }
        }
        }
    }
    // acquainted section end
    // benefit section start
    .benefitSec {
        background: url(#{$imageurl}/slider-bg.webp) no-repeat center center / cover;
        padding: 100px 0;
        color: color(50);
        &_thumbs {
            width: 130px;
            flex-shrink: 0;
            font-size: 24px;
            font-family: font(md);
            line-height: 28px;
            color: rgba(color(50), 0.5);
            &_sticky {
                position: sticky;
                top: 115px;
            }
            &_item {
                padding-left: 20px;
                position: relative;
                cursor: pointer;
                &:not(:last-child){
                    margin-bottom: 32px;
                }
                &.active {
                    color: color(50);
                    &::before {
                        opacity: 1; visibility: visible;
                    }
                }
                &::before {
                    content: '';
                    height: 100%;
                    position: absolute;
                    left: 0; width: 3px;
                    background-color: color(50);
                    opacity: 0; visibility: hidden;
                }
            }
        }
        &_main {
            width: calc(100% - 130px);
            flex-shrink: 0;
            &_item {
                padding-left: 57px;
                &:not(:last-child) {
                    min-height: 80vh;
                    padding-bottom: 100px;
                }
            }
            &_content {
                max-width: 635px;
                padding-right: 95px;
            }
            &_imgbox {
                position: relative;
                width: calc(100% - 635px);
                text-align: center;
            }
            &_title {
                font-size: 40px;
                margin-bottom: 20px;
            }
            p {
                font-size: 18px;
                font-family: font(lt);
                line-height: 1.555;
                color: rgba(color(50), 0.8);
                margin-bottom: 0;
            }
            hr {
                border:none;
                height: 1px;
                background-color: rgba(color(50), 0.25);
                margin-top: 40px;
                margin-bottom: 40px;
                opacity: 1;
            }
            &_subTitle {
                font-size: 24px;
                margin-bottom: 22px;
            }
            ul {
                padding-left: 0;
                list-style: none;
                margin-bottom: 0;
                li {
                    font-size: 18px; font-family: font(lt);
                    padding-left: 30px; position: relative;
                    color: rgba(color(50), 0.8); 
                    &::before {
                        content: '\e910';
                        position: absolute;
                        left: 0; top: 0;
                        width: 20px; height: 20px;
                        font-family: "icomoon" !important;
                    }
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        @media (max-width: 1599px) {
            padding: 70px 0;
            &_thumbs {
                width: 110px;
                font-size: 20px;
                &_item {
                    padding-left: 15px;
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
                &_sticky {
                    top: 95px;
                }
            }
            &_main {
                width: calc(100% - 110px);
                &_title {
                    font-size: 30px;
                }
                &_subTitle {
                    font-size: 20px;
                    margin-bottom: 12px;
                }
                p {
                    font-size: 16px;
                    line-height: 1.4;
                }
                ul {
                    li {
                        font-size: 16px;
                    }
                }
                &_content {
                    padding-right: 40px;
                }
                &_item {
                    padding-left: 40px;
                    &:not(:last-child) {
                        min-height: 70vh;
                    }
                }
                hr {
                    margin-top:20px;
                    margin-bottom:20px;
                }
            }
        }
        @include media-breakpoint-down(xxl) {
            padding: 40px 0;
            &_main {
                &_title {
                    font-size: 26px; margin-bottom: 12px;
                }
                &_content {
                    max-width: 600px;
                }
                &_imgbox {
                    width: calc(100% - 600px);
                }
            }
        }
        @include media-breakpoint-down(xl) {
            &_thumbs {
                font-size: 18px; line-height: 24px;
                &_sticky {
                    top: 80px;
                }
            }
            &_main {
                &_title {
                    font-size: 22px;
                }
                &_subTitle {
                    font-size: 18px;
                }
                &_item {
                    padding-left: 20px;
                }
                &_content {
                    padding-right: 20px;
                    max-width: 500px;
                }
                &_imgbox {
                    width: calc(100% - 500px);
                }
            }
        }
        @include media-breakpoint-down(lg) {
            padding: 30px 0;
            &_thumbs {
                display: none;
            }
            &_main {
                width: 100%;
                &_item {
                    padding-left: 0;
                    &:not(:last-child) {
                        min-height: auto;
                        padding-bottom: 15px;
                    }
                }
                &_content {
                    padding-right: 0;
                    max-width: 100%;
                    margin-bottom: 20px;
                }
                &_imgbox {
                    width: 100%;
                    img {
                        max-width: 500px;
                    }
                }
                hr {
                    margin-top: 10px;  margin-bottom: 10px;
                }
            }
        }
        @include media-breakpoint-down(md) {
            &_main {
                &_title {font-size: 20px;}
                &_subTitle {font-size: 16px;}
                p {
                    font-size: 14px;
                }
                ul {
                    li {
                        font-size: 14px;
                        padding-left: 20px;
                    }
                }
                &_imgbox {
                    img  {
                        max-width: 400px;
                    }
                }
            }
        }
    }
    // benefit section end
    // about section start
    .aboutUs{
        background-image: url(#{$imageurl}/about-us.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 650px;
        overflow-y: hidden;
        .container{
            max-width: 1483px;
        }
        &_bottom{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            gap: 11px;
            width: 100%;
        }
        &_card{
            flex: 1;
            padding: 30px;
            background-color: rgba($color: color(900), $alpha: 0.5);
            backdrop-filter: blur(3px);
            transition: all 0.3s ease;
            position: relative;
            &::before {
            content: '';
            position: absolute;
            left: 0; bottom: -1px;
            height: calc(100% + 15px);
            background-color: color(500);
            width: 100%; z-index: -1;
            transform: translateY(100%);
            transition: all 0.3s ease-in; 
            width: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
            }
            &_title{
            font-size: 36px;
            color: color(50);
            margin-bottom: 12px;
            }
            p{
            line-height: 1.2;
            color: rgba($color: color(50), $alpha: 0.8);
            }
            &:hover{
            &::before {
                transform: translateY(0);
                width: 100%;
                height: 100%;
                visibility: visible;
                opacity: 1;
            }
            }
        }
        @media (max-width:1599px) {
            &_card{
            &_title{
                font-size: 32px;
            }
            }
            
        }
        @include media-breakpoint-down(xxl){
            height: 600px;
            &_card{
            padding: 25px;
            &_title{
                font-size: 28px;
            }
            }
        }
        @include media-breakpoint-down(xl){
            height: 500px;
            &_bottom{
            gap: 8px;
            }
            &_card{
            padding: 20px;
            &_title{
                font-size: 24px;
            }
            }
        }
        @include media-breakpoint-down(lg){
            &_bottom{
            flex-wrap: wrap;
            justify-content: center;
            left: 50%;
            }
            &_card{
            flex: 0 0 32.33%;
            padding: 15px;
            background-color: rgba($color: color(900), $alpha: 0.7);
            &_title{
                margin-bottom: 6px;
                font-size: 22px;
            }
            &::before{
                height: 0;
                bottom: 0;
                transform: translateY(0);
            }
            &:hover{
                &::before {
                height: 100%;
                }
            }
            }
        }
        @include media-breakpoint-down(md){
            height: 400px;
            &_card{
            &_title{
                font-size: 20px;
            }
            }
        }
        @media (max-width:450px) {
            &_card{
            flex: 49%;
            }
        }
    }
    // about section end
    //team sec start
    .teamSec{
        &_gridList{
            display: flex;width: 100%;justify-content: center;
        }
        &_box{
            width: 287px;height: 387px;border-radius: 22px;position: relative;
            &_inner{
                position: relative;width: 100%;height: 100%;transform-style: preserve-3d;border-radius: 22px;
                transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                background-color: color(80);box-shadow: 0 3px 30px rgba(color(900),0.16);border: 0;
            }
            &_img{
                position: absolute;bottom: 0;left: 0;right: 0;width: 100%;border-radius: 22px;
                transition: box-shadow 1s cubic-bezier(0.165, 0.84, 0.44, 1);height: 100%;
                overflow: hidden; display: flex; align-items: flex-end; justify-content: center;
            }
            &_cnt{
                position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;
                border-radius: 22px;padding: 30px 20px;
                transform: rotateY(180deg) translateZ(1px);overflow: hidden;
                background-color: color(50);
                h3{
                    font-size: 28px;
                    color: color(50);
                }
                h4{
                    margin-top: 8px;
                    font-size: 18px;
                    color: color(50);
                }
                p{
                    margin-top: 20px;
                    font-size: 16px;
                    color: color(50);
                }
                &_inner{
                    height: 100%;
                    overflow: auto;
                    margin-right: -20px;
                    padding-right: 20px;
                }
            }
            &:hover{
                z-index: 9;
                .teamSec_box_inner{
                    transform: rotateY(180deg) rotateZ(-4deg);
                }
                .teamSec_box_cnt{
                    background-color: color(500);
                }  
                .teamSec_box_img{
                    opacity: 0;
                }  
            }
            &-1{
                transform: translateY(-2px) rotate(2deg)
            }
            &-2{
                margin-left: -60px;
            }
            &-3{
                margin-left: -30px;transform: rotate(1deg)
            }
            &-4{
                transform: translateY(3px) rotate(2deg);margin-left: -60px;
            }
            &-5{
                transform: translateY(0px) rotate(-2deg);margin-left: -15px;
            }
            &-6{
                transform: translateY(-8px) rotate(-2deg);margin-left: -50px;
            }
        }
        &_bottom{
            margin-top: 40px;
        }
        @media screen and (max-width: 1599px) {
            &_gridList{
                padding-inline: 12px;
            }
        }
        @include media-breakpoint-down(xxl){
            &_box{
                height: 340px; border-radius: 15px;
                &_inner{
                    border-radius: 15px;
                }
                &_img{
                    border-radius: 15px;
                }
                &_cnt{
                    padding: 20px 15px;border-radius: 15px;
                    h3{
                        font-size: 24px;
                    }
                    h4{
                        margin-top: 6px;
                        font-size: 16px;
                    }
                    p{
                        margin-top: 15px;
                        font-size: 14px;
                    }
                    &_inner{
                        margin-right: -15px;
                        padding-right: 15px;
                    }
                }
            }
            &_bottom{
                margin-top: 30px;
            }
        }
        @include media-breakpoint-down(xl){
            &_box{
                height: 310px; border-radius: 10px;
                &_inner{
                    border-radius: 10px;
                }
                &_img{
                    border-radius: 10px;
                }
                &_cnt{
                    padding: 15px;   border-radius: 10px;
                    h3{
                        font-size: 20px;
                    }
                    h4{
                        font-size: 15px;
                    }
                    p{
                        margin-top: 10px;
                    }
                }
            }
        }
        @include media-breakpoint-down(lg){
            &_gridList{
                padding-inline: 0;overflow-x: auto;gap: 10px;
                justify-content: flex-start;padding-bottom: 5px; 
            }
            &_box{
                flex-shrink: 0;width: 235px;
                &-1, &-2, &-3, &-4, &-5, &-6{
                    transform: none;margin-left: 0;
                }
                &_inner{
                    box-shadow: none;
                }
                &:hover{
                    .teamSec_box_inner{
                        transform: rotateY(180deg) rotateZ(0deg);
                    } 
                }
            }
        }
        @include media-breakpoint-down(md){
            &_box{
                &_cnt{
                    h3{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    //team sec end
    @keyframes bellSwing {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(10deg);
        }
        50% {
            transform: rotate(-5deg);
        }
        75% {
            transform: rotate(5deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    @keyframes moveArrowleft {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(30px);
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes moveArrowRight {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-30px); 
        }
        100% {
            transform: translateX(0);
        }
    }
}