@use 'sass:map';
// variables
$height: 50px;
$white-color: color(50);
$primary-color: color(500);
$btn-primary: color(500);
$btn-light: color(50);

$btnColors: (
  primary: (clr: $white-color,
    bg: $btn-primary,
  ),
  light: (clr: $primary-color,
    bg: $btn-light,
  ),
);

.btn {
  height: $height;
  padding: 16px 23px;
  font-size: 16px;
  font-family: font(md);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  em {
    font-size: 15px;
  }
  &-sm {
    height: 44px
  }
  &.iconRight{
    em{
      margin-left: 10px;
      transition: all 0.5s ease;
    }
    &:hover{
      em{
        transform: translateX(20%);
      }
    }
  }
  @each $key, $clrValue in $btnColors {
    // solid button
    &-#{$key} {
      @include button-variant(map.get($clrValue, clr),
        map.get($clrValue, bg),
        map.get($clrValue, bg));
    }
    // outline button
    &-outline-#{$key} {
      @include button-outline-variant(map.get($clrValue, bg),
        map.get($clrValue, clr),
        map.get($clrValue, bg));
    }
  }
  @include media-breakpoint-down(xxl) {
    height: 45px;
    font-size: 15px;
    padding: 12px 20px;
  }
  @include media-breakpoint-down(lg) {
    height: 40px;
    font-size: 14px;
    padding: 8px 16px;
  }
  @include media-breakpoint-down(sm) {
    height: 38px;
    font-size: 13px;
    padding: 6px 15px;
  }
}

// Ripple Effect
@keyframes ripple {
  0% {
    transform: scale(4);
  }

  100% {
    opacity: 0;
    transform: scale(40);
  }
}

.ripple-effect-dark,
.ripple-effect {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.ripple-effect span.ripple-overlay,
.ripple-effect-dark span.ripple-overlay {
  animation: ripple 0.9s;
  border-radius: 100%;
  background: $white-color;
  height: 12px;
  position: absolute;
  width: 12px;
  line-height: 1;
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}

.ripple-effect-dark span.ripple-overlay {
  background: color(900);
  opacity: 0.07;
}