.form-check {
    min-height: auto;
    position: relative;
    padding-left: 0px;
    margin-bottom: 0px;

    &-input[type="checkbox"],
    &-input[type="radio"] {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 0px;
        height: 0px;
        top: 0;
        margin: 0;
        visibility: hidden;
        opacity: 0;

        &:focus {
            ~.form-check-label {
                &:before {
                    box-shadow: none;
                }
            }

            &:not(:checked) {
                ~.form-check-label {
                    &::before {
                        border-color: color(100);
                    }
                }
            }
        }

        &:not(:disabled) {
            &:active {
                ~.form-check-label {
                    &::before {
                        background-color: color(50);
                        border-color: color(100);
                    }
                }
            }
        }

        ~.form-check-label {
            cursor: pointer;
            color: rgba(color(800), 0.70);
            padding-left: 28px;

            &:before,
            &:after {
                content: "";
                position: absolute;
                display: block;
                cursor: pointer;
                transition: all 0.3s;
            }

            &:before {
                left: 0px;
                width: 16px;
                height: 16px;
            }
        }

        &:checked {
            &:disabled~.form-check-label {
                pointer-events: none;
                cursor: default;
                opacity: 0.7;
            }
        }
    }

    // checkbox
    &-input[type="checkbox"] {
        ~.form-check-label {
            &:before {
                border-radius: 4px;
                top: 2px;
                border: 1.2px solid color(100);
            }

            &:after {
                left: 0px;
                border-radius: 4px;
                top: 2px;
            }
        }

        &:checked {
            ~.form-check-label {
                &:before {
                    border-color: color(500);
                }

                &:after {
                    width: 20px;
                    height: 20px;
                    content: "\e90a";
                    font-family: "icomoon";
                    color: color(50);
                    font-size: 11px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: color(500);
                }
            }
        }
    }

    // radio    
    &-input[type="radio"] {
        ~.form-check-label {

            &:before,
            &:after {
                border-radius: 50%;
            }

            &:before {
                top: 3px;
                border: 1.2px solid color(100);
            }

            &:after {
                left: 4px;
                top: 7px;
                width: 10px;
                height: 10px;
            }
        }

        &:checked~.form-check-label {
            &:before {
                border-color: color(500);
            }

            &:after {
                border-color: color(500);
                background-color: color(500);
            }
        }
    }

    @include media-breakpoint-down(xxl) {

        &-input[type="checkbox"],
        &-input[type="radio"] {
            ~.form-check-label {
                font-size: 14px;
                padding-left: 22px;

                &:before {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &-input[type=checkbox] {
            &:checked {
                ~.form-check-label {
                    &:after {
                        width: 16px;
                        height: 16px;
                        font-size: 8px;
                    }
                }
            }
        }

        &-input[type=radio] {
            ~.form-check-label {
                &:before {
                    top: 2px;
                }

                &:after {
                    left: 3px;
                    top: 5px;
                    width: 9px;
                    height: 9px;
                }
            }
        }
    }

}